body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.App {
    background: linear-gradient(blue, green, red);
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    
}

.container {
    background: rgba(171, 199, 199, 0.514);
    width: 30%;
    height: 65%;
    margin-top: 100px;
    text-align: center;
}

h1 {
    letter-spacing: 2px;
    padding: 10px;
    color: blue;
    font-weight: 900;
    font-size: 35px;
}

input[type="text"]{
    width: 80%;
    background: rgba(171, 199, 199, 0.514);
    padding: 10px;
    border: 0;
    outline: none;
    border-bottom: 3px solid red;
    margin-bottom: 15px;
}

button {
    display: block;
    margin-left: 45px;
    padding: 5px;
    background: green;
    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}

button:hover {
    font-size: 15px;
}

.info {
    width: 50%;
    text-align: start;
    margin: 10px 40px;
    padding: 5px;
}

.info_key {
    font-weight: bold;
}

.info_value {
    font-weight: 200;
}